<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iotek.shx.dao.PunishmentDao">
	<select id="queryPunishmentByEmpId" resultType="Punishment">
			SELECT
				p.punish_id,
				p.punish_reason,
				p.punish_money,
				p.punish_time,
				e.emp_id "emp.empId",
				e.emp_name "emp.empName",
				a.admin_id "admin.adminId",
				a.admin_name "admin.adminName" 	
	  		FROM
				PUNISHMENTS p,EMPLOYEES e,ADMINS a
			WHERE 
				e.emp_id=p.emp_id
			AND
				a.admin_id=p.admin_id
			AND
				e.emp_id=#{empId}
	</select>
	<select id="queryPunishmentByEmpIdAndDate" resultType="Punishment">
			SELECT
				p.punish_id,
				p.punish_reason,
				p.punish_money,
				p.punish_time,
				e.emp_id "emp.empId",
				e.emp_name "emp.empName",
				a.admin_id "admin.adminId",
				a.admin_name "admin.adminName"
			FROM
				PUNISHMENTS p,EMPLOYEES e,ADMINS a
			WHERE 
				e.emp_id=p.emp_id
			AND 
				a.admin_id=p.admin_id
			AND 
				e.emp_id=#{empId}
			AND 
				punish_year=#{date.year}+1900
			AND 
				punish_month=#{date.month}+1
	</select>
	<insert id="savePunishment" parameterType="Punishment">
		INSERT INTO 
			PUNISHMENTS (
				punish_id,
				punish_reason,
				punish_money,
				punish_time,
				punish_year,
				punish_month,
				emp_id,
				admin_id
			)VALUES(
				#{punishId},
				#{punishReason},
				#{punishMoney},
				#{punishTime},
				#{punishTime.year}+1900,
				#{punishTime.month}+1,
				#{emp.empId},
				#{admin.adminId}
			)
	</insert>
</mapper>
