<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iotek.shx.dao.RewardDao">
	<select id="queryRewardByUserId" resultType="Reward">
	
	</select>
	<select id="queryRewardByUserIdAndDate" resultType="Reward">
	
	</select>
	<insert id="saveReward" parameterType="Reward">
	
	</insert>
</mapper>
