<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iotek.shx.dao.RewardDao">
	<select id="queryRewardByEmpId" resultType="Reward">
		SELECT
			reward_id,
			reward_reason,
			reward_money,
			reward_time,
			e.emp_id "emp.empId",
			e.emp_name "emp.empName",
			a.admin_id "admin.adminId",
			a.admin_name "admin.adminName" 	
		FROM
			REAWARDS r,EMPLOYEES e,ADMINS a
		WHERE 
			e.emp_id=r.emp_id
		AND
			a.admin_id=r.admin_id
		AND
			e.emp_id=#{empId}
	</select>
	<select id="queryRewardByEmpIdAndDate" resultType="Reward">
		SELECT
			reward_id,
			reward_reason,
			reward_money,
			reward_time,
			e.emp_id "emp.empId",
			e.emp_name "emp.empName",
			a.admin_id "admin.ampId",
			a.admin_name "admin.adminName" 	
		FROM
			REAWARDS r,EMPLOYEES e,ADMINS a
		WHERE 
			e.emp_id=r.emp_id
		AND
			a.admin_id=r.admin_id
		AND
			e.emp_id=#{empId}
		AND
			reward_year=(#{date.year}+1900) 
		AND
			reward_month=(#{date.month}+1)
	</select>
	<insert id="saveReward" parameterType="Reward">
	INSERT INTO 
		REWARDS(
		reward_id,
		reward_reason,
		reward_money,
		reward_time,
		reward_year,
		reward_month,
		emp_id,
		admin_id
	)VALUES(
		#{rewardId},
		#{rewardReason},
		#{rewardMoney},
		#{rewardTime},
		#{rewardTime.year}+1900,
		#{rewardTime.month}+1,
		#{emp.empId},
		#{admin.adminId}
		)
	</insert>
</mapper>
